nav a{
  text-decoration: none;
  border-bottom: 3px white solid;
  font-size: 1.5rem;
  transition: 550ms;
}
nav a:hover{
  transition: 550ms;
border-color: black;
transition: 550ms;
}



#intro{
  height: 100vh;
  display: flex;
  align-items: center;
}
#intro #text{
  width: 50%;
  margin: auto;
}
i{
  color: gainsboro;
}
