/* global */

body{
  overflow-x: hidden;
  width: 100%;
}

/* custom tags */

.bg-black{
  background-color: black;
}
/* color gradient */
.BtoW{
  background-image: linear-gradient(black,white);
  height: 13vh;
}
.WtoB{
  background-image: linear-gradient(white,black);
  height: 13vh;
}





/* splash screen */


/* the navbar */
nav p{
  margin-bottom: 0;
  color: #f7f4ee;
}
nav a{
  text-decoration: none;
  color: black;
  border-bottom: 3px rgb(0, 0, 0,.0) solid;
  font-size: 1.5rem;
  transition: 200ms;
  
}
nav a:hover{
border-color: #FF5656;
transition: 550ms;
}
nav{
  background-color: black;
}

.fa-gear{
  font-size: 1.1rem;
  -webkit-text-stroke: 2px black;
  color: #FF5656;
}


#splash h1{
  -webkit-text-stroke: 1px white;
  color: white;
  font-size: 500%;
}
#splash .link{
  -webkit-text-stroke: 2px black;
  /* color: #F7F4EE; */
}
img{
  width: 100%;
  border-radius: 10%;
}
.hover:hover{
  cursor: pointer;
  color: #FF5656;
} 

.link{
  color: #FF5656;
  text-decoration: none;
}
.readMore{
  position: absolute;
  bottom: 0;
  right: 0;
}

/* about me */


#skills img:hover{
  transition: .3s;
  transform: scale(1.15);
box-shadow: 0 10px 20px rgba(255,0,0,.6), 0 4px 8px rgba(0,0,0,.06);
border: #FF5656 solid 3px;
}

h2{
  font-size: 4vw;
  text-align: center;
}



.front:hover{
  background-color: lightblue;
}
.back:hover{
  background-color: lightcoral;
}
.DB:hover{
  background-color: lightgreen;
}

.card:hover{
  transition: .3s;
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
/* custom classes */
.text-left{
  text-align: left;
}



.text-center{
  text-align: center;
}


section{
  min-height: 100vh;
  height: 100%;
  padding: 5% 10% 5% 10%;
}

/* media queries */

/* small devices: tablet and large phones 600 px and up */
@media only screen and (max-width:992px) {
  #splash img{
    display: none;
  }
  #splash .icon{
    visibility: hidden;
  }
  #splash h1{
    font-size: 10vw;
  }
  .splashText h1{
    text-align: center;
  }

  .skillIcons img{
    border: black solid 1px;
    width: 22vw;
    height: 22vw;
    background-color: white;
    border-radius:50%;
  }
  
}

/* large devices: tablet and large phones 992 px and up */
@media only screen and (min-width: 992px) {
  #splash img{
    visibility: visible;
  }
  .splashText{
    text-align: left;
  }

  .skillIcons img{
    border: black solid 1px;
    width: 8vw;
    height: 8vw;
    background-color: white;
    border-radius:50%;
  }
}